#bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: blur(100px);
    user-select: none;
    /* backdrop-filter: blur(200px); */
  }
  
  body {
      backdrop-filter: blur(200px);
    background: black;
  }
  
  #playerImg {
    user-select: none;
    position: absolute;
    top: 5vh;
    right: 5vw;
    max-width: 60vw;
    max-height: 80vh;
  }
  
  p, h1, div {
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  
  #nav {
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    /* height: 40px; */
    /* margin-bottom: 10px; */
  }
  
  #logo {
    display: inline-block;
    height: 60px;
  }
  
  #title {
    display: inline-block;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-stretch: ultra-condensed;
    font-kerning: normal;
  }
  
  #intro-view, #player-view, #waiting-view, #player-list-view {
    margin-left: 40px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  #message {
    max-width: 40vw;
    opacity: 60%;
  }
  
  #fetchPlayersButton, .back-button {
    margin-top: 20px;
    background-color: #5454cd;
    border: none;
    padding: 30px;
    color: white;
    width: fit-content;
    font-weight: 600;
  }
  
  .back-button {
    padding: 10px 30px;
  }
  
  #fetchPlayersButton:hover, .back-button:hover {
    cursor: pointer;
    background-color: #3a3a8f;
  }
  
  footer {
    color: white;
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 20%;
    position: absolute;
    /* margin-top: 500px; */
    bottom: 40px;
    /* left: 40px; */
    right: 40px;
    text-align: right;
  }
  
  body {
    min-height: 100vh;
  }
  
  #player-list {
    backdrop-filter: blur(100px);
    width: fit-content;
  
  }
  
  #player-list > li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  #player-list > li:hover {
    background: #3a3a8f;
  }
  
  #playerDetailsTable > tbody > tr > td {
    backdrop-filter: blur(100px);
    padding: 10px 20px;
  }
  
  #playerDetailsTable {
    padding-top: 40px;
  }
  
  
  #previousButton, #nextButton, #pageNumber {
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  #previousButton, #nextButton {
    /* backdrop-filter: blur(100px); */
    background-color: #5454cd;
    cursor: pointer;
  }
  
  #previousButton:hover, #nextButton:hover {
    background-color: #3a3a8f;
  }
  